body {
  background-color: #f5f4e8;
}

#logo {
  background-color: #ffd6c2;
  margin: 0 auto;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid black;
}

#name {
  display: block;
  color: #d63447;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}

#content {
  width: 100%;
  height: calc(100vh - 115px);
  overflow: auto;
  padding: 20px;
}

#navbar {
  background-color: #d63447;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.navbarItem {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0 auto;
}

.navbarIcon {
  background-color: transparent;
  color: #f5f4e8;
  border: none;
  width: 100%;
  margin-top: 10px;
}

.navbarIcon i {
  font-size: 35px;
  text-align: center;
}