:root {
  --main-color: #f8e5df;
}

body {
  background-color: transparent;
  background-color: var(--main-color);

    --main-color: #f8e5df;
}

.navbar {
    width: auto;
    overflow: auto;
}

.navbarItem {
    float: left;
    color: rgb(56, 1, 56);
    text-align: center;
    padding: 33px;
    text-decoration: none;
    font-size: 27px;
}

.navbarItem:hover {
    background-color: goldenrod;
    color: black;
    padding: 33px;
}

.name {
    color: goldenrod;
    font-size: 35px;
}

.bottomNav {
    background-color: goldenrod;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}