#foodDetails {
    background-color: #f5f4e8;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}

#foodName {
    text-align: center;
    margin-top: 10px;
}

#foodFavorite {
    display: block;
    width: 50%;
    margin: auto;
}