#foodDetails {
  background-color: #ffd6c2;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
}

#foodName {
  text-align: center;
  margin-top: 10px;
}

#foodButtons {
  width: 100%;
  height: 40px;
  margin: auto;
}

#foodMap {
  display: block;
  float: left;
  width: 75%;
  margin: auto;
}

#foodFavorite {
  display: block;
  float: left;
  width: 20%;
  margin: auto;
  margin-left: 5%;
  padding: 0px;
}

#foodFavorite i {
  font-size: 27px;
  margin-top: 5px;
}