.lead {
  font-size: 40px;
}

#frontLogo {
  border-radius: 50%;
}

#name {
  display: block;
  color: #d63447;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}

#loginButton input {
  display: block;
  margin: auto;
}