.lead {
    font-size: 40px;
}

.card {
    background-color: inherit;
    color: goldenrod;
    border-color: gold;
    border-width: 5px;
}

#frontLogo {
    border-radius: 50%;
}

#about{
  font-size: 18px;
  color: black;
}
#about:hover{
  color: goldenrod;
}
.contacts{
  margin-bottom: 4%;
  text-align: center;
}