.profile-content {
    margin: auto;
    width: 50%;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
    font-size: 20px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#about{
  font-size: 18px;
  color: black;
}
#about:hover{
  color: goldenrod;
  background-color: inherit;
}
.contacts{
  margin-top: 3%;
  text-align: center;
}
.profile-picture{
  border-radius: 50%;
}
.signin-content{
  margin-top: 2%;
  margin-left: 1%;
}
.head{
  margin-bottom: 3%;
  margin-right: 1%;
}