.login-content {
    width: 90%;
    height: 100%;
    margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}