.form-outline {
    background-color: whitesmoke;
}

.input-group {
    margin-top: 18%;
    width: 35%;
    margin-left: 32%;
}

.main-page .btn {
    border: none;
    margin-top: 8%;
    margin-left: 20%;
    width: 40vw;
}

#welcomeBox {
    margin: 0 auto;
}

#welcomeText {
    text-align: center;
}