.form-outline {
    background-color: whitesmoke;
}

.input-group {
    margin-top: 18%;
    width: 35%;
    margin-left: 32%;
}

.random {
    display: block;
    margin: auto;
    margin-top: 350px;
}

#welcomeBox {
    margin: 0 auto;
    margin-top: 50px;
}

#welcomeText {
    text-align: center;
}