.profile-content {
  margin: auto;
  width: 50%;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#about{
  font-size: 18px;
  color: black;
}
#about:hover{
  color: goldenrod;
  background-color: inherit;
}
.contacts{
  margin-bottom: 4%;
  text-align: center;
}