#profile-content {
  background-color: #f5f4e8;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
}

#apply {
  width: 80%;
  margin: auto;
}

#logout {
  width: 60%;
  margin: auto;
}

#reset {
  width: 80%;
  margin: auto;
}

#profile-content p {
  text-align: center;
}