#suggestionList {
    margin: auto;
    width: 90%;
    height: 100%;
}

.card {
    background-color: #f5f4e8;
    margin-bottom: 10px;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 0px;
}

.random {
    width: 100%;
    margin: auto;
    padding: 0;
    padding-bottom: 10px;
}

