.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.lead {
    font-size: 40px;
}

body {
    background-color: transparent;
    background-color: rgb(59, 79, 116);
    /* background-image: url("/pics/");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.card {
    background-color: rgb(32, 46, 59);
    color: goldenrod;
    border-color: gold;
    border-width: 5px;
}

.navbar {
    width: auto;
    overflow: auto;
}

.navbar a {
    float: left;
    color: rgb(56, 1, 56);
    text-align: center;
    padding: 33px;
    text-decoration: none;
    font-size: 27px;
}

.logo {
    font-size: 30px;
    color: goldenrod;
    margin-top: 1.5%;
}

.d-block {
    border-radius: 50%;
}

a:hover {
    background-color: goldenrod;
    color: black;
    padding: 33px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}