.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background-color: transparent;
    background-color: rgb(77, 105, 129);
}

.bottomNav {
    background-color: goldenrod;
}

.navbar {
    width: auto;
    overflow: auto;
}

.navbar a {
    float: left;
    color: rgb(73, 0, 73);
    text-align: center;
    padding: 33px;
    text-decoration: none;
    font-size: 27px;
}

.logo {
    font-size: 30px;
    color: goldenrod;
}


/* a:hover {
    background-color: goldenrod;
    color: black;
    padding: 33px;
} */

.profile-content {
    margin: auto;
    width: 50%;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

html,
body {
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
    font-size: 20px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}